@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,450;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 28pxs;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    color:aliceblue; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #141414;
    display: flex;
}


#message {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:25%;
}


.displayText {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    position: relative;
}

.displayText::after {
    content: "|";
    position: absolute;
    right: 0;
    color: white;
    background-color: #141414;
    width: 100%;
    animation: typing 3s steps(33) infinite alternate, line 1s infinite;
}

@keyframes typing {
    to {
        width: 0%;
    } 
}

@keyframes line {
    50% {
        color: transparent;
    } 
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.topnav a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    margin-left: 30px;
}

.topnav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    
}

.topnav a:hover::before {
    animation: fillin 1s forwards;
}

@keyframes fillin {
    from {
        width: 0;
    }
    to {
        width: 100%;
    } 
}

.join {
    z-index: 100;
    background-color: #5865F2;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: #5865F2;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.downloadheader {
    z-index: 100;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 5px 10px;
}

.discord {
    z-index: 100;
    margin-top: 150px;
    opacity: 0;
    filter: blur(5px);
    animation: unblur 2s forwards

}

@keyframes unblur {
    to {
      opacity: 1;
      filter: blur(0);
    }
  }

.legal-head {
    padding: 5px;
}

.legal-disclaimer {
   margin-left: 50px;
   margin-top: 200px;
}