@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 28pxs;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    color:aliceblue; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #141414;
    display: flex;
}


#message {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:25%;
}


.displayText {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    position: relative;
}

.displayText::after {
    content: "|";
    position: absolute;
    right: 0;
    color: white;
    background-color: #141414;
    width: 100%;
    animation: typing 3s steps(33) infinite alternate, line 1s infinite;
}

@keyframes typing {
    to {
        width: 0%;
    } 
}

@keyframes line {
    50% {
        color: transparent;
    } 
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.topnav a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    margin-left: 30px;
}

.topnav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    
}

.topnav a:hover::before {
    animation: fillin 1s forwards;
}

@keyframes fillin {
    from {
        width: 0;
    }
    to {
        width: 100%;
    } 
}

section {
    margin-top: 0%;
    display: grid;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    place-items: center;
    align-content: center;
    min-height: 250vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

.discordtos {
    position: relative;
    overflow: auto;
    top: 20px;
    left: 10px;
}

.discordtos2 {
    position: relative;
    overflow: auto;
    top: 50px;
    left: 10px;
}

.discordtos3 {
    position: relative;
    overflow: auto;
    top: 70px;
    left: 0px;
}

.discordtosimage {
    padding: 10px 5px;
}

.yt {
    display: inline;
    width: 200px; /* Adjust width as needed */
    height: 200px;
  border: 2px solid whitesmoke; /* Border properties */
  padding: 10px; /* Padding inside the box */
  margin: 20px auto; /* Center the box horizontally */
  text-align: center; /* Center the image inside the box */
  background-color: black;
  margin-left: auto;
  border-radius: 10px; /* Rounded corners */
  margin-top:200px;

}
.dev {
    position: relative;
    top: 150px;
}

.yt img {
    border-radius: 50%; /* Makes the image round */
    overflow: hidden;
}
